.A {
  color: #888e96;
  font-size: 14px;
  font-family: Montserrat;
}
  
.B {
  color: #1c355e;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: bolder;
}

.C {
  color: #696f77;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 600;
}
.D {
  color: #1c355e;
  font-size: 14px;
  font-family: Montserrat;
}

.E {
  color: #f6a800
}

.F {
  color: #428bca
}